
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);


.h1{
	padding-top: 150px;
	color: rgba(158,131,255,0.968);
}
.a{
	color: rgba(158,131,255,0.968);
}
.ll{
	list-style-type: none;
}

.w3{
	width: 80%;
	margin:0 auto;
	position: relative;
	top: -0px;
	margin-bottom: 200px;
	background-color: green;


}
.h2{
	text-align: center;
	color: rgba(158,131,255,0.968);
	font-family: Arial;
}

.cards{
padding-left: 35px;

 
}
.cards .card1,.card2,.card3{
	
	width:300px;
	background-color: whitesmoke;
	float :left;
	padding:20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards h3{
	display: inline;
}
/* .cards .s1,.s2,.s3,.s4{
		
	
     height: auto;
	width: 25%;
margin:20px;
background-color: whitesmoke;
	float :left;
	padding:20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */



.para{
	padding-top:10px ;
	float: left;
	color: black;
}
.p1{
	
	float: right;
	font-size: 15px;
	color: black;

}
.cards .card_button{
	width: 120px;
	height: 10px;
float: left;
background-color: rgba(210, 199, 250, 0.782);

	color: black;
	border-radius: 7px;
	cursor: pointer;
	padding: 20px 20px;
	
	
}
.cards .card_button{
	margin-top: 10px;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 30px;
text-decoration: none;
transition: 1s;

}
.cards .card_button:hover{
	background-color: rgba(158,131,255,0.968);
	color: black;
	/*font-weight: bolder;*/
}

.p2{
	
	float: right;
	font-size: 15px;
	color: black;
}


.p3{
	
	float: right;
	font-size: 15px;
	color: black;
}
.p4{
	
	float: right;
	font-size: 15px;
	color: black;
}
.p5{
	
	float: right;
	font-size: 15px;
	color: black;
}

.p6{
	
	float: right;
	font-size: 15px;
	color: black;
}

.lux{
	font-size: 15px;
}
.fam{
font-size: 15px;
}
.cou{
font-size: 15px;
}
.bud{
font-size: 15px;
}
.sing{
font-size: 15px;
}
.grou{
font-size: 15px;	
}